AWS_PROFILE=<your-aws-profile>
AWS_DEFAULT_REGION=<AWS-DEFAULT-REGION>
AWS_ACCESS_KEY_ID=<AWS-ACCESS-KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS-SECRET-ACCESS-KEY>

DDB_TABLE_NAME=<your-name>-latest-forecast-state-dev

