AWS_PROFILE=<your-aws-profile>
AWS_DEFAULT_REGION=<AWS-DEFAULT-REGION>
AWS_ACCESS_KEY_ID=<AWS-ACCESS-KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS-SECRET-ACCESS-KEY>
TEAM=<your-team-name>
S3_BUCKET_NAME=<your-team-name>-ccbda-bucket

ALPHA_VANTAGE_API_KEY=<your-alpha-vantage-key>

DDB_TABLE_NAME=<your-name>-latest-forecast-state-dev
SQS_QUEUE_URL=<filled automatically by setup_phase2.py>

# Optional overrides (setup scripts will auto-detect roles if not set)
GLUE_ROLE_ARN=
LAMBDA_ROLE_ARN=

